@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #000; 
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 15px;
  text-align: center;
}

/*:::Encabezado Principal:::*/
h1 {
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5),
               0 0 30px rgba(0, 255, 255, 0.5);
  max-width: 100%;
}

/*:::Boton-Modal:::*/
.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 60px;
  margin: 20px auto;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  transition: all 300ms ease;
}

.botones a,
.botones label {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}

.botones a:hover,
.botones label:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: #fff;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

/*:::Ventana Modal:::*/
#btn-reglas {
  display: none;
}

.container-reglas {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#btn-reglas:checked ~ .container-reglas {
  display: flex;
}

.content-reglas {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
}

.content-reglas h2 {
  margin-bottom: 15px;
  color: #fff;
}

.content-reglas p {
  padding: 15px 0px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  text-align: left; /* Alinea el texto a la izquierda */
}



.content-reglas .btn-cerrar {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.content-reglas .btn-cerrar label {
  padding: 7px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
  width: 50%;
}

.content-reglas .btn-cerrar label:hover {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.cerrar-reglas {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*:::Media Queries para Responsividad:::*/
@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
    margin-top: 30px;
    letter-spacing: 3px;
  }

  .botones {
    width: 100%;
    max-width: 100%;
    height: 50px;
  }

  .content-reglas {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  .botones {
    height: 45px;
  }
}